# ======================
# Dependencies
# ======================
node_modules/
package-lock.json

# ======================
# Environment variables
# ======================
.env
.env.*
!.env.example

# ======================
# Build output
# ======================
dist/
build/
# ======================
# TypeScript
# ======================
*.tsbuildinfo
src/config/config.js
test.js